In [17]:
import flywheel
import random
import pandas as pd
import os
import datetime 
fw = flywheel.Client()
project_id = '60fef55e60ec55d1b0e0741e'
project = fw.get(project_id)

## Generate table from what's on Flywheel

In [2]:
project_sessions = [fw.get_session(x.id) for x in fw.get_project_sessions(project_id)]

In [3]:
# create list of subject and session labels
subject_labels = []
session_labels = []
for session in project_sessions:
    subject = session.subject
    subject_labels.append(subject.label)
    session_labels.append(session.label)

In [4]:
print(session_labels[0:5])
print(subject_labels[0:5])

['123894x20190327x3T', '100049x20160621x3T', '100957_20110426', '100113x20160620x3T', '120937x20160711x3T']
['123894', '100049', '100957', '100113', '120937']

In [5]:
# generate list of numbers from 1 to number of sessions (i.e. images)
numbers = list(range(1, len(session_labels) + 1))

#stage 1
stage1 = numbers.copy()
random.shuffle(stage1)
print(stage1[0:5])

# stage 3
stage3 = numbers.copy()
random.shuffle(stage3)
print(stage3[0:5])

# stage 4
stage4 = numbers.copy()
random.shuffle(stage4)
print(stage4[0:5])

[17, 2, 25, 26, 45]
[33, 49, 46, 35, 38]
[1, 39, 38, 56, 36]

In [6]:
data = list(zip(subject_labels, session_labels, stage1, stage3, stage4))
df = pd.DataFrame(data, columns=['Subject Label', 'Session Label', 'Stage 1', 'Stage 3', 'Stage 4'])

In [7]:
df.head()

  Subject Label       Session Label  Stage 1  Stage 3  Stage 4
0        123894  123894x20190327x3T       17       33        1
1        100049  100049x20160621x3T        2       49       39
2        100957     100957_20110426       25       46       38
3        100113  100113x20160620x3T       26       35       56
4        120937  120937x20160711x3T       45       38       36

In [20]:
# save the csv with timestamp
x = datetime.datetime.now()
datestr = '%s-%s-%s_%s:%s' % (x.year, x.month, x.day, x.hour, x.minute)

filename = f'lookup_table_{datestr}.csv'
file = os.path.join('..', filename)
df.to_csv(file, index=False)
cmd = f'cp {file} ../lookuptable_backups/{filename}'
os.system(cmd)

0